# ======================
# VS Code
# ======================
.vscode/

# ======================
# Sistema operativo
# ======================
.DS_Store
Thumbs.db

# ======================
# Archivos de log generales
# ======================
*.log

# ======================
# Otros archivos temporales
# ======================
*.tmp
*.swp
